<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-sm-6 signup-page">
    <h1>Sign up</h1>
    
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Sign up!", class: "btn btn-primary" %>
    <% end %>
  </div>
  
  <div class="col-sm-6">
    <img src="assets/kickball.jpg" class="sign-up-photo">
  </div>
</div>
