<% provide(:title) %>
<% content_for :head do %>
<style>
  body{  
  background: url(../assets/football.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>
<% end %>

<div class="row">
  <div class="col-sm-4 welcome-message">
    <h1>Find games.</h1>
    <h1>Join in.</h1>
    <h1>Have fun.</h1>
  </div>  
  
  <div class="col-sm-2"></div>

  <div class="col-sm-6 panel panel-default">
    <div class="panel-heading">Sign up</div>
    
    <div class="panel-body">
    
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        
        <%= f.text_field :name, placeholder: "Name", 
                                class: 'form-control' %>
  
        <%= f.email_field :email, placeholder: "Email", 
                                  class: 'form-control' %>
  
        <%= f.password_field :password, placeholder: "Password", 
                                        class: 'form-control' %>
  
        <%= f.password_field :password_confirmation, placeholder: "Confirm password",
                        class: 'form-control' %>
  
        <%= f.submit "Create account", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  
</div>